

@model List<Swertres.Web.Models.ViewModels.BetSummaryModel>
<div>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Number</th>
                <th colspan="2" style="text-align:center">Total Amount Normal</th>
                <th colspan="2" style="text-align:center">Total Amount Rumble</th>
            </tr>
            <tr>
                <th></th>
                <th  style="text-align:center">Take</th>
                <th  style="text-align:center">Excess</th>
                <th  style="text-align:center">Take</th>
                <th  style="text-align:center">Excess</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(m => i.Number)</td>
                    <td  style="text-align:center"> @Html.DisplayFor(m => i.TotalAmountNormal)</td>
                    <td  style="text-align:center"> @Html.DisplayFor(m => i.TotalAmountNormalExcess)</td>
                    <td  style="text-align:center"> @Html.DisplayFor(m => i.TotalAmountRumble)</td>
                    <td  style="text-align:center"> @Html.DisplayFor(m => i.TotalAmountRumbleExcess)</td>
                </tr>
            }
        </tbody>
    </table>
</div>