@model Swertres.Web.Models.ViewModels.BetListModel


<div class="clearfix"></div>
<hr />
<div class="row">
    <div class="col-lg-2">
        <label class="control-label">Total Gross: </label> @string.Format("P{0:#,###.00}", Model.Total)
    </div>
    <div class="col-lg-2">
        <label class="control-label">Share: </label> @string.Format("P{0:#,###.00}", Model.Share)
    </div>
    <div class="col-lg-2">
        <label class="control-label">Net: </label> @string.Format("P{0:#,###.00}", Model.Net)
    </div>
</div>

<div>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Number</th>
                <th>Target</th>
                <th>Rumble</th>
                <th>Source</th>
                <th>Encoder</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.BetList)
            {
                <tr>
                    <td> @Html.DisplayFor(m => i.Number)</td>
                    <td> @Html.DisplayFor(m => i.AmountTarget)</td>
                    <td> @Html.DisplayFor(m => i.AmountRumble)</td>
                    <td> @Html.DisplayFor(m => i.SourceName)</td>
                    <td> @Html.DisplayFor(m => i.EncoderName)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

